#hero {
  text-align: center;
}

#hero img[src*="music"] {
  width: 12.875rem;
}

#hero h1 {
  margin-top: 1rem;
}

#hero p {
  font: var(--fw-md) var(--fs-lg)/1.4 var(--ff-sans);
  color: var(--text-color-secondary);
  margin-top: .5rem;
}

#hero .buttons {
  justify-content: center;
  margin-top: 2rem;
}

@media screen and (min-width: 80rem) {
  #hero {
    background: url(../assets/bg-hero-desktop.svg) no-repeat bottom center/contain;
    padding-bottom: 15rem;
  }

  #hero img[src*="music"] {
    width: 25.75rem;
  }

  #hero h1 {
    margin-top: 1.5rem;
  }

  #hero p {
    margin-top: 1rem;
    font-size: 2.5rem;
  }

  #hero .buttons {
    margin-top: 3rem;
  }
}