#smartphones-img {
  margin-top: 5rem;
  background: url(../assets/illustration.svg) top/cover;
}

section header strong { display: block;
  font: var(--fw-md) var(--fs-sm) / 100% var(--ff-sans);
  letter-spacing: 0.08em;
  text-transform: uppercase;

      color: var(--brand-color-primary);
    }
section header h2 {
  margin-top: .5rem;
}

section p {
  margin-top: .5rem;
  color: var(--text-color-secondary);
}

@media screen and (min-width: 80rem) {
  #smartphones-img {
    display: none;
  }
}